{% extends "base.html" %}
{% load static %}

{% block title %}Contacto | REDPLUS{% endblock %}

{% block content %}
    <main class="site-main">
        <!-- banner-four -->
        <section class="banner-four" style="padding-top: 40px!important;">
            <div class="banner-four-shape-1"></div>
            <div class="banner-four-shape-2"></div>
            <div class="banner-four-shape-3"></div>
            <div class="banner-four-shape-4"></div>
            <div class="container">
                <div class="banner-four-top align-items-center text-center" style="margin-bottom: 15px!important;">
                    <img src="/media/{{ pagina.img_gomax_1 }}" style="align-content: center!important;"
                         width="150px !important ">
                </div>
                <!-- banner-four-top -->
                <div class="banner-four-top align-items-center text-center">
                    <!-- banner-four-top-details -->
                    <div class="banner-four-top-details wow fadeInDown animated" data-wow-duration="1500ms"
                         data-wow-delay="300ms">
                        <div class="banner-details-icon">

                            <p> Incluido a partir del &nbsp; <span>Plan Standard</span></p><img
                                src="/static/images/shapes/joinus-shape.png" alt="shape-1">
                        </div>

                    </div>
                    <!-- banner-four-btn -->
                    <div class="theme-btn wow fadeInDown animated" data-wow-duration="1500ms"
                         data-wow-delay="000ms">
                        <a href="https://wa.me/593{{ marca.whatsapp }}?text=Hola,%20deseo%20contratar%20el%20Plan%20Standard%20con%20TV%20GoMax.%20Por%20favor%20confirmen%20disponibilidad%20y%20pasos%20para%20la%20instalaci%C3%B3n."
                           class="btn btn-bg-white" target="_blank" title="Adquirir por WhatsApp">
                            Adquirir <i class="icon-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- banner-four-bottom -->
            <div class="banner-four-bottom">
                <div class="banner-four-bottom-slider owl-carousel owl-theme owl-loaded owl-drag">

                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/24hec.jpg" alt="24hec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/allegro.jpg" alt="allegro">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/babytvec.jpg" alt="babytvec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/canal26ec.jpg" alt="canal26ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/cgtnec.jpg" alt="cgtnec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/comedyec.jpg" alt="comedvec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/diblutvec.jpg" alt="diblutvec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/disney.jpg" alt="disney">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/disneyjr.jpg" alt="disneyjr">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/dwec.jpg" alt="dwec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/ecuadortvec.jpg" alt="ecuadortvec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/ecuavisar1ec.jpg" alt="ecuavisar1ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/espn2ec.jpg" alt="espn2ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/espn3ec.jpg" alt="espn3ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/espn4ec.jpg" alt="espn4ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/espn5ec.jpg" alt="espn5ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/espn7ec.jpg" alt="espn7ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/espnec.jpg" alt="espnec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/ewtnec.jpg" alt="ewtnec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/fxec.jpg" alt="fxec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/gourmetec.jpg" alt="gourmetec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/kanaldramaec.jpg" alt="kanaldramaec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/makrodigitalec.jpg" alt="makrodigitalec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/mtvec.jpg" alt="mtvec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/mtv00ec.jpg" alt="mtv00ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/mtv80ec.jpg" alt="mtv80ec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/nhk.jpg" alt="nhk">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/nuestrateleec.jpg" alt="nuestrateleec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/unoec.jpg" alt="unoec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/a3int.jpg" alt="a3int">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-1">
                        <a href="#">
                            <img src="/static/images/resources/amcec.jpg" alt="amcec">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-2">
                        <a href="#">
                            <img src="/static/images/resources/bbcwn.jpg" alt="bbcwn">
                        </a>
                    </div>
                    <div class="banner-four-bottom-img-3">
                        <a href="#">
                            <img src="/static/images/resources/canal247ec.jpg" alt="canal247ec">
                        </a>
                    </div>


                </div>
            </div>
        </section>


        <section class="services-four" style="margin-top: 50px!important;">
            <!-- pricing-package-four -->
            <section class="pricing-package-four services-four">
                <div class="pricing-package-four-shape-1"></div>
                <div class="pricing-package-four-shape-2"></div>
                <div class="pricing-package-four-shape-3"></div>
                <div class="pricing-package-four-shape-4"></div>
                <div class="pricing-package-four-shape-5"></div>
                <div class="pricing-package-four-shape-6"></div>
                <div class="pricing-package-four-shape-7"></div>
                <div class="pricing-package-four-shape-8"></div>
                <div class="pricing-package-four-shape-9"></div>

                <div class="container">
                    <!-- section-main-title -->
                    <div class="section-main-title text-center">
                        <h2 class="mx-auto">El mejor contenido de <span
                                class="section-main-title-primery">televisión</span> digital </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-4 col-md-6 col-sm-12 text-center wow fadeInLeft animated"
                             data-wow-duration="1500ms" data-wow-delay="400ms">
                            <!-- services-four-box -->
                            <div class="services-four-box">
                                <h3>TV Digital por Internet</h3>
                                <i class="flaticon-fiber"></i>
                                <p>Vive la nueva forma de ver televisión: series, deportes y películas donde quieras y
                                    cuando quieras.</p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-4 col-md-6 col-sm-12 text-center wow fadeInLeft animated"
                             data-wow-duration="1500ms" data-wow-delay="250ms">
                            <!-- services-four-box -->
                            <div class="services-four-box">
                                <h3>Canales en HD</h3>
                                <i class="flaticon-tv"></i>
                                <p>Imagen clara, sonido potente y señal estable. Disfruta la mejor calidad en cada
                                    pantalla.</p>

                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-4 col-md-12 col-sm-12 text-center wow fadeInLeft animated"
                             data-wow-duration="1500ms" data-wow-delay="100ms">
                            <!-- services-four-box -->
                            <div class="services-four-box">
                                <h3>Streaming sin límites</h3>
                                <i class="flaticon-energy-management"></i>
                                <p>Conéctate, mira y disfruta sin interrupciones gracias a la potencia de la fibra
                                    RedPlus.</p>

                            </div>
                        </div>
                    </div>


                </div>
            </section>


    </main>
{% endblock %}
